{% extends "app/base_site.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{form_title}}</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <br />
              <form data-parsley-validate class="form-horizontal form-label-left" method="POST">
                {% csrf_token  %}

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Value <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form.value|as_crispy_field}}
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12"> UOM </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form.uom|as_crispy_field}}
                  </div>
                </div>

                <input type="submit" value="Save" class="btn btn-default btn-sm">
                <a href="" class="btn btn-default btn-sm">Cancel</a>
  
              </form>
            

            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
{% endblock content %}
