{% extends "app/base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>HDD Capacities<small>&nbsp;</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>HDD Capacities Maintenance <small>&nbsp;</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a href="{% url 'add_hdd_capacity'  %}" data-toggle="tooltip" title="Add new HDD Capacity"><i class="fa fa-plus"></i></a>
                </li>
                <!-- 
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                -->

                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Value</th>
                  <th>UOM</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for hdd_capacity in hdd_capacities %}
                  <tr>
                    <th scope="row">{{hdd_capacity.id}}</th>
                    <td>{{hdd_capacity.value}}</td>
                    <td>{{hdd_capacity.uom}}</td>
                    <td><a href="{% url 'edit_hdd_capacity' hdd_capacity.id %}" class="btn btn-default btn-sm">edit</a></td>
                    <td><a href="{% url 'delete_hdd_capacity' hdd_capacity.id %}" class="btn btn-danger btn-sm">delete</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            </div>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}



